main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    gap: 100px;;
    background: linear-gradient(black, rgba(0, 0, 0, 0.702));
    padding:20px 15px 0 15px;
}

.alert-triangel{
    
    /* width: 200px; */
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    border-bottom: 300px solid white;
    position: relative;
}
.alert-triangel::before{
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-right: 140px solid transparent;
    border-left: 140px solid transparent;
    border-bottom: 280px solid red;
    top: 15px;
    left: -140px;
}

.alert-triangel h1{
    color: white;
    font-size: 200px;
    position: absolute;
    top: 40px;
    left: -25px;
}

.registration-form h1 {
    font-size: 40px;
    text-align: center;
    margin: 50px 0;
    color: white;
}

.registration-form h3 {
    font-size: 28px;
    text-align: center;
    margin: 50px 0;
    color: white;
}

.btns {
    width: 200px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-top: 18px;
    border: 5px solid white;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.cancel-btn {
    margin-right: 12px;
    color: white;
    background: #be9524;
    transition: all 0.3s linear;
}

.delete-btn {
    color: white;
    background: red;
    transition: all 0.3s linear;
}

.cancel-btn:hover {
    background-color: white;
    color: #be9524;
    border: 5px solid #be9524;
}

.delete-btn:hover {
    background-color: white;
    color: red;
    border: 5px solid red;
    
}
