/**************
    Header
***************/

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid white;
}

header .logo img {
    width: 80px;
    margin-left: 15px;
}

/* Navigation */

header nav {
    margin-right: 15px;
}

#main-menu{
    display: flex;
    flex-direction: row;
}

#main-menu li {
    list-style-type: none;
    margin-right: 20px;
    position: relative;
    color: white;
}

#main-menu li::before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #ebe206;
    bottom: -10px;
    transition: 0.3s all linear;
}

#main-menu li:hover::before {
    width: 100%;
}

#main-menu li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    display: block;
}

#main-menu li a:hover {
    color: #ebe206;

}

#second-menu {
    list-style-type: none;
    visibility: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: nowrap;
    opacity: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    background-color: black;
    top: 100%;
    left: 0;
    width: 100%;
    transform: translateY(-3em);
    z-index: -1;
    transition: all 0.3s ease 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
}

#main-menu li:focus #second-menu, 
#main-menu li:focus-within #second-menu,
#main-menu li:hover #second-menu {
    visibility: visible;
    opacity: 1;
    z-index: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
}

#current-player {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

#current-player img{
    width: 28px;
    height: 28px;
    border-radius: 50px;
}

/* Hamurger menu */
.menu-icon {
    display: none;
}






