main {
    min-height: 90vh;
    background: linear-gradient(black, rgba(0, 0, 0, 0.702));
    padding: 15px 15px 0 15px;
}

/* left MENU settings -start */
.navigation-bar {
    height: 50%; 
    width: 210px; 
    position: fixed; 
    z-index: 1; 
    top: 50%; 
    left: 16px;
    background-color: #d4d1d1; 
    overflow-x: hidden; 
    transform: translateY(-50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    border: 2px solid rgba(224, 204, 22, 0.971);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #be9524;
}

.navigation-bar ul {
    height: 80%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 10%;
    overflow-y: hidden;
    padding: 10px;
}

.navigation-bar a {
    text-decoration: none;
    text-align: center;
    color: white;
    background: #be9524;
    border: 5px solid white;
    box-shadow: 0 0 10px 3px #be9524;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.navigation-bar a:hover {
    background-color: white;
    color:black;
    border: 5px solid #be9524;
}
/* left MENU settings -finish */

/*************Creating and modifying League groups -start **************/
.league-content {
    margin-left: 226px; 
    font-size: 28px; 
    padding: 30px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 80vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

/* Basic setting to conform create league - start*/
.main-container-settings{
    max-width: 800px;
    border: 5px solid rgba(0, 0, 0, 0.608);
    border-radius: 20px;
    margin: 10px 0 30px 0;
    box-shadow: 0 0 10px 10px #888888;
    padding: 100px;
    background: #fff;
}

/* Basic setting to conform create league - finish*/

/* Edit League groups -start */
.main-container-groups{
    max-width: 1200px;
    border: 5px solid rgba(0, 0, 0, 0.608);
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #888888;
    background: linear-gradient(black, rgb(82, 80, 80));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.basic-groups{
    width: 100%;
    margin: 10px 0 30px 0;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.one-modified-group {
    color: black;
    width: 80%;
    border-collapse: collapse;
    margin: 15px 0;
    font-size: 0.7em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #888888;
    overflow: hidden;
    background-color: #fff;
}


.one-modified-group thead tr {
    background-color: #be9524;
    color: #ffffff;
}

.one-modified-group th {
    padding: 10px;
}
.one-modified-group tbody {
    text-align: left;
}
.one-modified-group td {
    padding: 10px 2px;
}

.one-modified-group tbody tr td{
    border-bottom: 1px solid #dddddd;
    transition: all .2s linear;
    padding-left: 20px;
}
.one-modified-group tbody tr:nth-of-type(even) {
    background-color: #d4d1d1;
}

.player-table {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}

.country-flag {
    width: 25px;
    border-radius: 25%;
}

.player-club {
    font-size: 12px;
}

.player-tableX{
    position: absolute;
    text-decoration: none;
    text-align: center;
    color: white;
    background: #be9524;
    padding: 4px 8px;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 50%;
    opacity: 1;
    top: 10px;
    right: 30px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.player-tableX:hover{
    background-color: white;
    color:black;
    border: 1px solid #be9524;
}

.select-groups{
    width: 70px;
    padding: 0px 8px 0px 2px;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.608);
    box-shadow: 0 0 3px 3px #888888;
}

.undefined {
    position: relative;
}

.undefined-number {
    background-color: #be9524;
    color: white;
    border-radius: 50%;
    padding: 0px 6px;
}

.choosed-group-OK {
    position: absolute;
    top: 10px;
    right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#submit-group {
    padding: 5px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 12px;
    margin-left: 10px;
    transition: all 0.3s linear;
}

#submit-group:hover{
    border-color: #be9524;
    color: #be9524;
}

/* Edit League groups -finish*/

#create-groups input[type="submit"], #begin-league {
    text-align: center;
    color: white;
    background: #be9524;
    border: 5px solid white;
    box-shadow: 0 0 10px 3px #be9524;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 20px;
    transition: all 0.3s linear;
    cursor: pointer;
    margin-top: 30px;
}

/* button for create league groups + begin league submit button */
#create-groups input[type="submit"]:hover, #begin-league:hover {
    background-color: white;
    color:black;
    border: 5px solid #be9524;
}

/*************** Creating and modifying League groups - finish *************/


/*************** Creating and modifying League matches - start *************/

/* Hlavný container */
.league-match-container {
    width: 1200px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffff;
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #888888;
    padding: 0 10px;
}

/* League heading from User show */
/* nastavenia pre zobrazených registrovaných hráčov*/
/* .leagueHeading h1 {
    
} */
/* icona šípka dole a hore + aktívna a neaktína pre first-container
.leagueHeading .left-icon,
.leagueHeading .right-icon {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 5px;
    background: black;
    bottom: 8px;
} 
.leagueHeading .left-icon {
    left: 17px;
    transform: rotate(45deg);
}
.leagueHeading .right-icon {
    transform: rotate(135deg);
}
.leagueHeading .left-icon.active-left {
    transform: rotate(135deg); 
}
.leagueHeading .right-icon.active-right {
    transform: rotate(45deg);
} */


/* League matches */
.league-matches {
    width: 100%;
    max-height: 0;
    border: 5px solid rgba(0, 0, 0, 0.608);
    border-radius: 20px;
    margin: 40px 0;
    box-shadow: 0 0 10px 10px #888888;
    overflow-y: hidden;
    transition: max-height .8s ease-out, opacity 1.2s linear;
    opacity: 0;
}

.show-league-matches {
    max-height: 800px;
    overflow-y: auto;
    transition: max-height 1s ease-in, opacity 1s linear;
    opacity: 1;
}

.leagueHeading h1 {
    font-size: 50px;
    text-align: center;
    color: white;
    background: #be9524;
    border: 5px solid white;
    box-shadow: 0 0 10px 3px #be9524;
    padding: 5px 30px;
    border-radius: 20px;
} 

.leagueRound {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.leagueRound h1 {
    position: relative;
    left: 3%;
    font-size: 32px;
}

.matchInformation {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}


.tableNr {
    width: 6%;
    border: 5px solid rgba(0, 0, 0, 0.608);
    border-radius: 15px;
    box-shadow: 0 0 3px 3px #888888;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px;
    text-align: center;
    margin-left: 0.75%;
    color: rgb(0, 0, 0);
}

/* .tableNr h3 {
    color: rgb(0, 0, 0);
} */


/* One match line */
.general-match {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 5px solid rgba(0, 0, 0, 0.608);
    border-radius: 20px;
    box-shadow: 0 0 3px 3px #888888;
    padding: 5px;
}

/* Aktívny zápas, ktorý sa hrá */
.activeLeagueMatch {
    background-color: #07b078;
    color: #fff;
}
.waitingLeagueMatch {
    background-color: #be9524;
    color: #fff;
}
/* Ukončený ligový zápas */
.fisnishedLeagueMatch {
    background-color: #1e2623;
    color: #fff;
    border: 5px solid rgba(0, 0, 0, 0.608);
    box-shadow: 0 0 3px 5px #888888;
}

/* Players in one match line */
.general-match span {
    width: 45%;
}
.general-match span img {
    border-radius: 25px;
    position: relative;
    top: 4px;
}

/* Score in one match line */
.general-match label {
    width: 54px;
    padding: 10px;
    border: 5px solid rgba(0, 0, 0, 0.608);
    border-radius: 15px;
    box-shadow: 0 0 3px 3px #888888;
}


.btnAndGame {
    min-width: 90px;
    gap: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* Button in one match line */

/* .general-match button {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border-radius: 20px;
    margin: 0 10px;
    padding: 5px 10px;
} */

.match_button {
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border-radius: 20px;
    margin: 0 10px;
    padding: 5px;
    width: 80px;
}

/* Button in one match line Ukončený ligový zápas */
.fisnishedLeagueMatchHide {
    display: none;
}

/* typ hry obrázok v zápasoch */
.pl1-span img, .pl2-span img, .btnAndGame img{
    width: 20px;
    height: 20px;
}
/* Image Profil in league */
.league-profil {
    border-radius: 20%;
    width: 40px;
    height: 40px;
}
/* player club info  */
.main-info-player {
   font-size: 10px; 
}

/* doubles player-informations */
.player1AB-span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dl1-label {
    margin-left: 7px;
}
.dl2-label{
    margin-right: 7px;
}


/*************** Creating and modifying League matches - finish *************/

/*************** SHOW League matches ACCORDNING TO GROUPS - start *************/

.registered-groups {
    width: 100%;
    margin: 10px 15px 25px 15px;
}


.all-groups {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgb(255, 253, 253);
    margin-top: 20px;
}
.group-profil {
    width: 150px;
    height: 220px;
    background-color: #fff;
    border: 1px solid #be9524;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 3px #be9524;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
}

.picture-part1 {
    width: 70px;
    height: 70px;
    border-radius: 10%;
    position: relative;
}
.picture-part2 {
    width: 40px;
    height: 30px;
    border-radius: 5%;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.group-nr {
    color: #be9524;
}

.group-infos {
    text-decoration: none;
    text-align: center;
    color: white;
    background: #be9524;
    padding: 8px 12px;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.group-infos:hover {
    background-color: white;
    color:black;
    border: 1px solid #be9524;
}


/*************** SHOW League matches ACCORDNING TO GROUPS - finish *************/


/* modal dialog window */
#modal {
    width: 100%;
    max-width: 640px;
    min-width: 480px;
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 62%;
    transform: translateX(-62%) translateY(-50%);
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.608);
    box-shadow: 0 0 3px 3px #888888;
}
#matchForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
}
.matchInfo {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
    border: 5px solid rgba(0, 0, 0, 0.608);
    border-radius: 20px;
    box-shadow: 0 0 3px 3px #888888;
    padding: 5px;
}
.modal-players {
    width: 40%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#modal input[type="number"]{
    width: 30%;
    padding: 6px 5px;
    font-size: 18px;
    text-align: center;
    border-radius: 20px;
    border: 5px solid rgba(0, 0, 0, 0.608);
    box-shadow: 0 0 3px 3px #888888;
}
#modal input[type="submit"]{
    padding: 8px 25px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    margin: 5px 10px;
}
.modal-players span {
    width: 70%;
    padding: 5px;
}
