main {
    min-height: 90vh;
    background: linear-gradient(black, rgba(0, 0, 0, 0.702));
    padding: 15px 15px 0 15px;
}

.navigation-bar {
    height: 50%; 
    width: 210px; 
    position: fixed; 
    z-index: 1; 
    top: 50%; 
    left: 16px;
    background-color: #d4d1d1; 
    overflow-x: hidden; 
    transform: translateY(-50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    border: 2px solid rgba(224, 204, 22, 0.971);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #be9524;
}

.navigation-bar ul {
    height: 80%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 10%;
    overflow-y: hidden;
    padding: 10px;
}

.navigation-bar a {
    text-decoration: none;
    text-align: center;
    color: white;
    background: #be9524;
    border: 5px solid white;
    box-shadow: 0 0 10px 3px #be9524;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.navigation-bar a:hover {
    background-color: white;
    color:black;
    border: 5px solid #be9524;
}
.league-content {
    margin-left: 226px; 
    font-size: 28px; 
    padding: 30px 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    background-color: #fff;
    min-height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.league-content h1 {
    font-size: 60px;
}

.main-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.basic-info {
    flex: 1;
}
.basic-info h1{
    font-size: 36px;
}
.basic-info p{
    font-size: 20px;
}

.logos {
    display: flex;
    justify-content: center;
    justify-content: center;
    align-items: center;
    flex: 1;
}
.logos img {
    width: 120px;
}
#reg-league-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}

#reg-league-form h1 {
    color: black;
    font-size: 36px;
    letter-spacing: 3px;
    margin-bottom: 15px;
    text-align: center;
}
.form-content {
    border: 3px solid black;
    border-radius: 20px;
    padding: 8px 0;
}
.form-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.player-names {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.player-names input[type="text"]{
    outline: none;
    background: none;
    border: none;
    font-size: 24px;
    text-align: center;
    color: gray;
    padding: 6px 8px;
    margin-bottom: 15px;
}

.sumbit-btn input[type="submit"]{
    text-decoration: none;
    text-align: center;
    color: white;
    background: #be9524;
    border: 5px solid white;
    box-shadow: 0 0 10px 3px #be9524;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 20px;
    transition: all 0.3s linear;
    cursor: pointer;
}

.sumbit-btn input[type="submit"]:hover {
    background-color: white;
    color:black;
    border: 5px solid #be9524;
}


.registered-players {
    width: 100%;
}

.registered-players span {
    border: 5px solid white;
    border-radius: 10px;
    box-shadow: 0 0 10px 3px #be9524;
    background-color: #be9524;
    color: #fff;
    padding: 3px 6px;
}

.players {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 10px;
    background-color: rgb(255, 253, 253);
    margin-top: 20px;
}
.player-profil {
    width: 150px;
    height: 200px;
    background-color: #fff;
    border: 1px solid #be9524;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 3px #be9524;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.picture-part {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
}
.flag-part {
    width: 40px;
    height: 22px;
    border-radius: 10%;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -50%);
}

.profil-name {
    color: #be9524;
}

.player-profil a {
    text-decoration: none;
    text-align: center;
    color: white;
    background: #be9524;
    padding: 8px 12px;
    font-size: 12px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: all 0.3s linear;
}

.player-profil a:hover {
    background-color: white;
    color:black;
    border: 1px solid #be9524;
}

/* .registered-players ol {
    list-style: inside;
    list-style-type: decimal;
} */



/* GRID */
/* .players {
    max-width: 600px;
    display: grid;
    grid-template-columns: 
            repeat(auto-fit,
            minmax(150px, 1fr));
    grid-gap: 1.5rem;
}
.player-profil {
    width: 150px;
    height: 150px;
    background-color: black;
    box-shadow: 0 0 10px 5px #be9524;
    border-radius: 20px;
} */







