
main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding:20px 15px 0 15px;
    background: linear-gradient(black, rgba(0, 0, 0, 0.702));
}

article {
    max-width: 1600px;
    margin: 0 auto;
}

.player-heading h1 {
    font-size: 40px;
    text-align: center;
    margin: 7px 0;
    color: white;
}

.one-player-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(246, 246, 246, 0.977);
    padding: 20px 80px;
    animation: linechanger 1.5s alternate infinite;
    color: #be9524;
}

.one-player-box h1 {
    color: #be9524;
    font-size: 32px; 
}

.player-pict {
    margin: 15px 0;
    max-width: 320px;
    text-align: center;
    border-radius: 15px;
}

#country-flag {
    margin: 15px 0;
    max-width: 70px;
    max-height: 50px;
    text-align: center;
    border-radius: 10px;
}

.cues {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.btns {
    width: 200px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin-top: 18px;
    border: 5px solid white;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.edit-btn {
    margin-right: 12px;
    color: white;
    background: #be9524;
    transition: all 0.3s linear;
}

.delete-btn {
    color: white;
    background: red;
    transition: all 0.3s linear;
}

.edit-btn:hover {
    background-color: white;
    color: #be9524;
    border: 5px solid #be9524;
}

.delete-btn:hover {
    background-color: white;
    color: red;
    border: 5px solid red;
    
}

@keyframes linechanger {
    0% {
        border: 5px solid #be9524;
        box-shadow: 0px 0px 3px #be9524;
    }


    100% {
        border: 5px solid transparent;
        box-shadow: 2px 2px 25px 3px #be9524;
    }
}

