main {
    min-height: 90vh;
    background: linear-gradient(black, rgba(0, 0, 0, 0.702));
    padding: 15px 15px 0 15px;
}

.navigation-bar {
    height: 50%; 
    width: 210px; 
    position: fixed; 
    z-index: 1; 
    top: 50%; 
    left: 16px;
    background-color: #d4d1d1; 
    overflow-x: hidden; 
    transform: translateY(-50%);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
    border: 2px solid rgba(224, 204, 22, 0.971);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #be9524;
}

.navigation-bar ul {
    height: 80%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    gap: 10%;
    overflow-y: hidden;
    padding: 10px;
}

.navigation-bar a {
    text-decoration: none;
    text-align: center;
    color: white;
    background: #be9524;
    border: 5px solid white;
    box-shadow: 0 0 10px 3px #be9524;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 20px;
    transition: all 0.3s linear;
}

.navigation-bar a:hover {
    background-color: white;
    color:black;
    border: 5px solid #be9524;
}
.league-content {
    margin-left: 230px; 
    font-size: 28px; 
    padding: 30px 10px;
    border: 5px solid rgba(0, 0, 0, 0.608);
    border-radius: 20px;
    box-shadow: 0 0 5px 5px #888888;
    background-color: #fff;
    min-height: 80vh;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* Results container pre tabuľku výsledkov */
/* .result-container {
    width: 100%;
    border: 5px solid rgba(0, 0, 0, 0.608);
    border-radius: 20px;
    box-shadow: 0 0 10px 10px #888888;
    margin-bottom: 20px;
} */

/* Tabuľka Hlavý nadpis Heading */
.result-container h1 {
    margin-bottom: 10px;
    cursor: pointer;
}

.show-table-results {
    min-width: 80%;
    max-height: 800px;
    overflow-y: auto;
    transition: max-height 1s ease-in, opacity 1s linear;
    opacity: 1; 
    padding: 15px;
}

/* Tabuľka výsledkov */

.results-table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    box-shadow: 0 0 10px 10px #888888;
    overflow: hidden;
}
.results-table thead tr {
    background-color: rgb(6, 146, 118);
    color: #ffffff;
    text-align: center;
}
.results-table th {
    padding: 15px;
}
.results-table tbody {
    text-align: center;
}
.results-table td {
    padding: 12px 15px;
}
.results-table td img {
    width: 15px;
    border-radius: 2px;
}
.results-table tbody tr {
    border-bottom: 1px solid #dddddd;
}
.results-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
.results-table tbody tr:nth-of-type(1) {
    font-weight: 600;
    color: #fff;
    background-color: rgb(89, 232, 203);
}
.results-table tbody tr:last-of-type {
    background-color: rgb(231, 120, 120);
    color: #fff;
    border-bottom: none;
    
}
