/* Form section */
main {
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(black, rgba(0, 0, 0, 0.702)),
                url(../img/background.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.signin-form {
    border: 3px solid white;
    border-radius: 20px;
    padding: 35px;
}

.signin-form h1 {
    color: white;
    font-size: 48px;
    letter-spacing: 3px;
    margin-bottom: 15px;
    text-align: center;
}

.signin-form form {
    text-align: center;
}


.signin-form input[type="text"], input[type="password"]{
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font-size: 24px;
    text-align: center;
    color: white;
    padding: 6px 8px;
    margin-bottom: 15px;
}

.signin-form input[type="submit"]{
    margin-top: 18px;
    border: 5px solid white;
    width: 180px;
    padding: 8px 12px;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
}

.signin-form input[type="submit"]:hover {
    color: #be9524;
    border: 5px solid #be9524;
}


